<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ClassMapper">

	<!-- CLASSTBL 쿼리 -->
	<!-- CLS_DELETE = 0 이면 삭제 -->
	
	<!-- 개시된 강의 전체 조회 -->
	<select id="selectCls" resultType="com.busanit01.studyingp.dto.ClassDTO">
	
		SELECT 
			* 
		FROM 
			CLASSTBL 
		WHERE 
			CLS_DELETE = 1
	
	</select>
	
	<!-- 삭제포함 강의 전체 조회 -->
	<select id="selectClsAll" resultType="com.busanit01.studyingp.dto.ClassDTO">
	
		SELECT 
			* 
		FROM 
			CLASSTBL 
	
	</select>
		
	<!-- 삭제된 강의 조회 -->
	<select id="selectClsDel" resultType="com.busanit01.studyingp.dto.ClassDTO">
		
		SELECT 
			* 
		FROM 
			CLASSTBL
		WHERE
			CLS_DELETE = 0
						
	</select>
	
	<!-- 강의 조회 (강의번호) -->
	<select id="selectClsCode" parameterType="com.busanit01.studyingp.dto.ClassDTO" resultType="com.busanit01.studyingp.dto.ClassDTO">
	
		SELECT
			*
		FROM
			CLASSTBL
		WHERE
			CLS_CODE = #{cls_code}
	
	</select>
		
	<!-- 강의 조회 (강의분류) -->
	<select id="selectClsCategory" parameterType="com.busanit01.studyingp.dto.ClassDTO" resultType="com.busanit01.studyingp.dto.ClassDTO">
	
		SELECT 
			* 
		FROM 
			CLASSTBL 
		WHERE 
			CLS_CATEGORY = #{cls_category} AND CLS_DELETE = 1
	
	</select>
	
	<!-- 강의 조회 (강의명) -->
	<select id="selectClsName" parameterType="com.busanit01.studyingp.dto.ClassDTO" resultType="com.busanit01.studyingp.dto.ClassDTO">
	
		SELECT 
			* 
		FROM 
			CLASSTBL 
		WHERE 
			CLS_NAME LIKE CONCAT('%', #{cls_name}, '%') AND CLS_DELETE = 1
			
	</select>
	
	<!-- 강의 조회 (강사번호) -->
	<select id="selectClsInstCode" parameterType="com.busanit01.studyingp.dto.ClassDTO" resultType="com.busanit01.studyingp.dto.ClassDTO">
		
		SELECT
			*
		FROM
			CLASSTBL
		WHERE
			MEM_CODE = #{mem_code}
		
	</select>
	
	<!-- 강의 조회 (강사명) -->
	<select id="selectClsInst" parameterType="com.busanit01.studyingp.dto.MemberDTO" resultType="com.busanit01.studyingp.dto.ClassDTO">
	
		SELECT 
			CLS_CODE, CLS_CATEGORY, CLS_NAME, CLASSTBL.MEM_CODE, CLS_PRICE, CLS_TIME, CLS_DELETE, CLS_PERIOD, CLS_CONTENT, CLS_IMG, CLS_URL
		FROM 
			CLASSTBL 
		INNER JOIN 
			MEMBERTBL 
		ON 
			CLASSTBL.MEM_CODE = MEMBERTBL.MEM_CODE 
		WHERE 
			MEMBERTBL.MEM_NAME LIKE CONCAT('%', #{mem_name}, '%') AND CLASSTBL.CLS_DELETE = 1
	
	</select>
	
	<!-- 강의 조회 (강사명, 카테고리) -->
	<select id="selectClsInstWithCat" parameterType="Map" resultType="com.busanit01.studyingp.dto.ClassDTO">
	
		SELECT 
			CLS_CODE, CLS_CATEGORY, CLS_NAME, CLASSTBL.MEM_CODE, CLS_PRICE, CLS_TIME, CLS_DELETE, CLS_PERIOD, CLS_CONTENT, CLS_IMG, CLS_URL
		FROM 
			CLASSTBL 
		INNER JOIN 
			MEMBERTBL 
		ON 
			CLASSTBL.MEM_CODE = MEMBERTBL.MEM_CODE 
		WHERE 
			MEMBERTBL.MEM_NAME LIKE CONCAT('%', #{mem_name}, '%') AND CLASSTBL.CLS_DELETE = 1 AND CLASSTBL.CLS_CATEGORY = #{cls_category}
	
	</select>
	
	<!-- 강의 조회 (강의명, 카테고리) -->
	<select id="selectClsNameWithCat" parameterType="com.busanit01.studyingp.dto.ClassDTO" resultType="com.busanit01.studyingp.dto.ClassDTO">
	
		SELECT
			*
		FROM
			CLASSTBL
		WHERE
			CLS_NAME LIKE CONCAT('%', #{cls_name}, '%') AND CLS_CATEGORY = #{cls_category} AND CLS_DELETE = 1
	
	</select>
	
	<!-- 강의 조회 (강의명, 강사코드, 카테고리; 강의 업로드 직후 하나만 조회하기 위해 만듦) -->
	<select id="selectClsAfterUpload" parameterType="com.busanit01.studyingp.dto.ClassDTO" resultType="com.busanit01.studyingp.dto.ClassDTO">
		
		SELECT
			*
		FROM
			CLASSTBL
		WHERE
			CLS_CATEGORY = #{cls_category} AND CLS_NAME = #{cls_name} AND MEM_CODE = #{mem_code} AND CLS_DELETE = 1
		
	</select>
	
	<!-- 강의 개설 -->
	<insert id="insertCls" parameterType="com.busanit01.studyingp.dto.ClassDTO">
	
		INSERT INTO
			CLASSTBL (CLS_CATEGORY, CLS_NAME, MEM_CODE, CLS_PRICE, CLS_TIME, CLS_PERIOD, CLS_DELETE, CLS_CONTENT, CLS_IMG, CLS_URL, CLS_TOTLECT) 
		VALUES
			(#{cls_category}, #{cls_name}, #{mem_code}, #{cls_price}, #{cls_time}, DATE_ADD(NOW(), INTERVAL 6 MONTH), 1, #{cls_content}, #{cls_img}, #{cls_url}, #{cls_totlect})
	
	</insert>
	
	<!-- 강의 수정 -->
	<update id="updateCls" parameterType="com.busanit01.studyingp.dto.ClassDTO">
	
		UPDATE 
			CLASSTBL
		SET
			CLS_CATEGORY = #{cls_category},
			CLS_NAME = #{cls_name},
			MEM_CODE = #{mem_code},
			CLS_PRICE = #{cls_price},
			CLS_TIME = #{cls_time},
			CLS_PERIOD = #{cls_period},
			CLS_CONTENT = #{cls_content},
			CLS_IMG = #{cls_img},
			CLS_URL = #{cls_url},
			CLS_TOTLECT = #{cls_totlect}
		WHERE
			CLS_CODE = #{cls_code}
	
	</update>
	
	<!-- 강의 삭제 -->
	<update id="deleteCls" parameterType="com.busanit01.studyingp.dto.ClassDTO">
	
		UPDATE
			CLASSTBL
		SET
			CLS_DELETE = 0
		WHERE
			CLS_CODE = #{cls_code}
	
	</update>

</mapper>